# Jenkins 웹 접속 정보
JENKINS_HTTP_PORT=8081
JENKINS_URL=http://localhost:8081/
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=change-this-jenkins-admin-password

# 컨테이너 시간대
JENKINS_TIMEZONE=Asia/Seoul

# 필요할 때만 특정 Jenkins LTS/JDK 21 태그로 고정한다.
JENKINS_IMAGE_TAG=lts-jdk21
